/* Your app styles here */
.red {
  color: #f00;
}

/* List content */
.list-content {
  font-size: 14px;
}
p.list-content-line {
  margin: 0px;
}
span.list-content-title {
  font-size: 16px;
}
span.list-content-body {
  color: #8e8e93;
}
.list-content-function {
  text-align: right;
  font-size: 12px;
}
